<div style="margin-bottom: 3em;">
    <div class="paper-teaser">
        <a href="{{ .context.pdf }}">
            <img src="{{ .context.teaser }}" height="100%" />
        </a>
    </div>
    <div class="paper-summary">

        <a href="{{ .context.pdf }}" class="paper-title">
            {{ .context.title }}
        </a>

        <p class="paper-authors">
            {{ $i := 1 }}
            {{ $num := len .context.authors }}
            {{ range .context.authors }}
                {{ if .me }}
                    <strong class="myname">{{ .name }}</strong>{{ if lt $i $num }},{{ end }}
                {{ else }}
                    <a href="{{.url}}">{{ .name }}</a>{{ if lt $i $num }},{{ end }}
                {{ end}}

                {{ $i = add $i 1 }}
            {{ end }}
        </p>

        <p class="paper-venue">
            {{ .context.venue }} <a href="https://doi.org/{{ .context.doi }}">{{ .context.doi }}</a>
        </p>

        <p class="paper-tldr"><iconify-icon icon="fluent:info-20-regular"></iconify-icon>
            {{ .context.tldr }}
        </p>

        <p class="paper-links">
            {{ if .context.pdf }}
                <a href="{{.context.pdf}}"><iconify-icon icon="fluent:document-pdf-20-regular" style="vertical-align: middle; color: #b2256b;"></iconify-icon>pdf</a>
            {{ end }}

            {{ if .context.giturl }}
                <a href="{{.context.giturl}}"><iconify-icon icon="bi:github" style="vertical-align: middle; color: black; margin-right: 5px; margin-bottom: 3px;"></iconify-icon>GitHub</a>
            {{ end }}

            {{ if .context.bibtex }}
                <a onclick="showPopup('{{.context.bibtex}}');"><iconify-icon icon="fluent:text-quote-20-filled" style="vertical-align: middle; color: #354355;"></iconify-icon>bibtex</a>
            {{ end }}
        </p>

    </div>
</div>