html {
  height: 100%;
  background-color: #3c4d63;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #222;
  font-family: system-ui;
  line-height: 1.5;
  margin: auto;
  max-width: 1100px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px 5px #1f3032;
}

main {
  flex: 1 1 auto;
  overflow: auto;
  padding-left: 2em;
  padding-right: 2em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  flex: 0 0 auto;
}

header > h1 {
  padding-left: 1em;
  margin-bottom: 5px;
}

nav {
  background-color: #3e4d63;
  padding: 0.25em;
}

nav > ul {
  list-style-type: none;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  background-color: none;
  padding: 1em;
  color: #eaf5fb;
}
  nav a:hover {
    background-color: white;
    color: #3e4d63;
  }

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #4a7d95;
  text-decoration: underline solid;
  cursor: pointer;
}
  a:hover {
    color: #7dbcca;
    text-decoration: none;
  }

iconify-icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

.popup {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  background-color: #273141d1;
}
  .popup.show {
    visibility: visible;
    z-index: 1000000;
  }

.popup-content {
  max-width: calc(min(100% - 50px, 800px));
  height: calc(min(100% - 50px, 20em));
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.popup-content .bibtex {
  width: 100%;
  flex: 1 1 auto;
  resize: none;
}

.button {
  background-color: #ffdea2;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.5em;
  padding-top: 0.3em;
  color: #251b07;
  text-decoration: none;
}
.button:hover {
  background-color: #ffe9c1;
  color: #000;
}

.paper-title {
  font-size: medium;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.paper-authors {
  font-size: smaller;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.paper-venue {
  font-size: smaller;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.paper-tldr {
  margin-top: 0.0em;
  margin-bottom: 0.0em;
}

.paper-links {
  margin-top: 0.5em;
  margin-bottom: 0.0em;
}

.paper-teaser {
  float: left;
  height: 200px;
  overflow: hidden;
  margin-right: 2em;
  max-width: 350px;
}

.paper-summary {
  min-height: 200px
}

.paper-group > h2 {
  position: sticky;
  top: 0;
  background-color: white;
}

.collapse-content {
  display: block;
}

.collapse-btn {
  text-decoration: none;
  user-select: none;
}