{{ define "main" }}
    <div class="popup" onmousedown="hidePopup(this, this, event)">
        <div class="popup-content" onmousedown="hidePopup(this, this.parentElement, event)">
            <textarea class="bibtex" readonly></textarea>
            <a class="button" onclick="copy(this)" style="width: fit-content;"><iconify-icon icon="fluent:copy-16-regular" style="vertical-align: middle;"></iconify-icon>Copy to clipboard</a>
        </div>
    </div>

    <script>
        function showPopup(bibtex) {
            var popup = document.getElementsByClassName("popup")[0];
            popup.classList.toggle("show");
            popup.getElementsByClassName("bibtex")[0].innerHTML = bibtex;
        }

        function hidePopup(elem, popup, event) {
            if (event.target === elem)
                popup.classList.toggle("show");
        }

        async function copy(elem) {
            const text = elem.parentElement.parentElement.getElementsByClassName("bibtex")[0].innerHTML;

            let onDone = () => {
                const old = elem.innerHTML;
                elem.innerHTML = "Copied";
                setTimeout(() => elem.innerHTML = old, 500);
            };

            try {
                await navigator.clipboard.writeText(text).then(onDone);
            } catch (exc) {
                alert(
                    "Copy to clipboard failed. Most likely, you are using Firefox. " +
                    "Set 'dom.events.asyncClipboard.clipboardItem' to 'true' in 'about:config' to enable copy support."
                );
            }
        }
    </script>

    <div>
        {{.Content}}
        <h2>Peer-reviewed journal papers</h2>
        {{ $pubidx := 0 }}
        {{ range (sort $.Site.Data.publications.journal "date" "desc") }}
            {{ partial "publication.html" (dict "context" . "pubidx" $pubidx) }}
            {{ $pubidx = add $pubidx 1 }}
        {{ end }}
    </div>
{{ end }}